[BDI RfC] Assess and implement iSHARE version 3.0

The BDI is inspired by iSHARE and uses iSHARE principles and specifications, particularly for (but not limited to):

- The trust kit
- The developer portal, including several reference implementation components

Since the start of the BDI, the iSHARE Framework has evolved, using it's change management process. Changes include RFCs that originated in BDI to cater to BDI-found requirements. 

This RFC aims to incorporate changes in the iSHARE Framework into BDI where relevant originating from iSHARE release 3.0 (released on 1 December 2025).

The [release notes](https://framework.ishare.eu/releases/release-notes) can form a starting point for assessing impact on the BDI and translating iSHARE changes into BDI changes. 

The following RFCs have been requested by BDI and therefore are assumed to be of most value:

- [RFC056](https://gitlab.com/ishare-foundation/cab/rfc/-/issues/25): **AR per application / data service**. This RFC allows for more detailed publication and discovery ARs. Currently an Entitled Party can only appoint one AR per dataspace. In reality, with more services in one dataspace, it may be worthwhile to appoint an AR for a specific Service Provider, or even for a specific service of that Service Provider. This could just as well apply to the publication and discovery of Orchestration providers. More detailed information is available [here](https://topsectorlogistiek.atlassian.net/browse/CWP-134?focusedCommentId=15470) and [here](https://gitlab.com/ishare-foundation/cab/rfc/-/issues/25).
- [RFC055](https://gitlab.com/ishare-foundation/cab/rfc/-/issues/24) **Allow conditions in delegations**. This RFC defines a standard for creating and evaluating real time conditions. For example: access is only allowed during daytime. Only at the realtime request is it known if it is daytime or not. This RFC originated from the VGU demo and has practical appliances in that setup. More detailed information [here](https://topsectorlogistiek.atlassian.net/browse/CWP-129?focusedCommentId=15469) and [here](https://gitlab.com/ishare-foundation/cab/rfc/-/issues/24).
- [RFC046](https://gitlab.com/ishare-foundation/cab/rfc/-/issues/13) **Define Dataspace Self Description to improve discoverability**. This RFC defines a standard for publishing dataspace (association) information, which may form the basis for a BDI Association Profile. More detailed information available [here](https://topsectorlogistiek.atlassian.net/browse/CWP-130) and [here](https://gitlab.com/ishare-foundation/cab/rfc/-/issues/13).
- [RFC041](https://gitlab.com/ishare-foundation/cab/rfc/-/issues/4) **Optimise delegation path discovery**. This RFC was implemented by conducting an extensive academic research into the concept of Delegation Paths, where one party delegates rights to another and so on. Challenges are privacy and performance. The research was summarized in supporting documentation of iSHARE in [this article](https://trustbok.ishare.eu/apply-ishare/authorisation/delegation-chains). This supporting article could selectively be copied or reference to in the BDI reference architecture. More information [here](https://gitlab.com/ishare-foundation/cab/rfc/-/issues/4) and [here](https://topsectorlogistiek.atlassian.net/browse/CWP-132?focusedCommentId=15435).

The following RFCs have not explicitly been requested by BDI, but have a relatively large impact on the framework and are therefor worth considering for the BDI:

- [RFC040](https://gitlab.com/ishare-foundation/cab/rfc/-/issues/5) **Support Verifiable Credentials**. However fully backwards compatible (VC specs are created on top of existing specs), this has a large impact and creates new opportunities for data space technologies. It aligns the specifications of the iSHARE Framework with Gaia-X and IDSA, by implementing the same technology options that support trust and data rights. For BDI it may help in the connection with NL Customs, who operate a FEDeRATED node, which is also based on Verifiable Credentials. 
- [RFC064](https://gitlab.com/ishare-foundation/cab/rfc/-/issues/32) **Improve portability and maintainability of clients in multiple data spaces**. This RFC has led to the creation of an entirely new party model, consisting of a minimal party (name, id, alsoknownas ids) and 9 claim types that contain information such as framework compliance, dataspace (association) membership, identity attributes, etc. The new model is explicitly extensible, which would allow BDI to define its own claims on top of iSHARE claims, allowing for both interoperability and context-specificness.